<app-balance
    [transactions]="transactions()"
/>

<div class="actions">
    <a matButton="filled" [routerLink]="'create'">Adicionar transação</a>
</div>

<app-transaction-container class="transactions" [transactions]="transactions()">
    <ng-template #item let-item="item">
        <app-transaction-item
            class="transaction"
            [transaction]="item"
            (edit)="edit($event)"
            (remove)="remove($event)"
        />
    </ng-template>

    <ng-template #noItems>
        <app-no-transactions />
    </ng-template>
</app-transaction-container>
