<div class="actions">
    <app-search class="search" [(searchTerm)]="searchTerm" />
    <a class="add-transaction" matButton="filled" [routerLink]="'create/new'">Adicionar transação</a>
</div>

@if(isLoading()) {
    <mat-progress-bar mode="indeterminate" />
} @else {
    <app-transaction-container class="transactions" [transactions]="transactions()">
        <ng-template #item let-item="item">
            <app-transaction-item
                class="transaction"
                [transaction]="item"
                (edit)="edit($event)"
                (remove)="remove($event)"
            />
        </ng-template>
    
        <ng-template #noItems>
            <app-no-transactions />
        </ng-template>
    </app-transaction-container>
}

