<div class="actions">
    <app-search class="search" [(searchTerm)]="search" />

    <mat-form-field class="type">
        <mat-label>Tipo</mat-label>
        <mat-select [(ngModel)]="type">
            @for (item of typeFilterOptions; track item.value) {
                <mat-option [value]="item.value">{{ item.label }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <a class="add-transaction" matButton="filled" [routerLink]="'create/new'">Adicionar</a>

    <button #exportBtn class="add-transaction" matButton="outlined" (click)="export()">
        Exportar
    </button>
</div>

@if(isLoading()) {
    <mat-progress-bar mode="indeterminate" />
} @else {
    <app-transaction-container class="transactions" [transactions]="transactions()">
        <ng-template #item let-item="item">
            <app-transaction-item
                class="transaction"
                [transaction]="item"
                (edit)="edit($event)"
                (remove)="remove($event)"
            />
        </ng-template>
    
        <ng-template #noItems>
            <app-no-transactions />
        </ng-template>
    </app-transaction-container>
}

